[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras-rl = "*"
gym = {version = "*",extras = ["atari"]}
"h5py" = "*"
pillow = "*"
colored = "*"

[dev-packages]

[requires]
python_version = "3.6"
