[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras-rl = "*"
gym = {version = "*",extras = ["atari"]}
"h5py" = "*"
pillow = "*"
colored = "*"
dependency-injector = "*"
pendulum = "*"
space-wrappers = {git = "https://github.com/ngc92/space-wrappers"}
lazy = "*"
mongoengine = "*"
numpy = "*"
requests = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.7"
