<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/monitor.css">
	<link href="https://fonts.googleapis.com/css?family=Karla|Poiret+One|Ropa+Sans|Source+Code+Pro" rel="stylesheet">

	<script src="/jquery-3.1.1.min.js"></script>
	<script src="/highcharts.js"></script>
	<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
	<script src="/node_modules/vue/dist/vue.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script> -->
	<!-- <script src="/node_modules/engine.io-client/engine.io.js"></script> -->
	<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
</head>
<body>




<div id="app">
	<div class="header page-width"> 
		<div><h1>The Control Room</h1> </div>
		<div><span v-if="connected">Connected</span><span v-else>Not Connected</span></div>
	</div>
	
	<div class="row page-width">
		<div class="col sidebar">
			
			<div class="widget" >
				
			

				<div id="result"></div>
				<table id="table-sparkline">
					<thead>
						<tr>
							<th>Gen</th>
							<th> Dispatch</th>
							<th></th>
							
						</tr>
					</thead>
					<tbody id="tbody-sparkline" v-if="sample_market_state">
							
						<tr v-for="(dispatch_MW, gen, index) in sample_market_state.dispatch" >
							<th>{{gen}}</th>
							<td>{{dispatch_MW}}</td>
							<td data-sparkline="71, 78, 39, 66 "/>
						</tr>
						
						
					</tbody>
				</table>
		</div>
		</div>

		<div class="col charts-area">

			<div class="row">
				<div class="widget" ><div id="spot-chart-container" class="chart"></div></div>
			</div>

			<div class="row">
				<div class="widget" ><div id="demand-chart-container" class="chart"></div></div>
				<div class="widget" ><div id="generation-chart-container" class="chart"></div></div>
			</div>
			<div class="row">
				
				<div class="widget" v-on:click="update_bid_scatter()"><div id="bid-scatter-chart-container" class="chart"></div></div>
			</div>

		</div>
	</div>
</div>

</body>

<footer>
	<script src="/monitor.js"></script>
</footer>

</html>