[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-socketio = "*"
numpy = "*"
pandas = "*"
socketio-client = "*"
tensorflow = "*"
keras = "*"
httpserver = "*"
gunicorn = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.7"
